<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAMPLE_APP.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SAMPLE_APP.SQLConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SAMPLE_APP.SQLConnection.ConnString" connectionString="Data Source=HoleeFuk\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SAMPLE_APP.Properties.ConnString" connectionString="Data Source=HoleeFuk\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True" />
        <add name="SAMPLE_APP.Properties.Settings.ConnString" connectionString="Data Source=HoleeFuk\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SAMPLE_APP.Properties.UserSettings.ConnString" connectionString="Data Source=HoleeFuk\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SAMPLE_APP.Settings1.Setting" connectionString="Data Source=HoleeFuk\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SAMPLE_APP.Properties>
            <setting name="DBCreated" serializeAs="String">
                <value>False</value>
            </setting>
        </SAMPLE_APP.Properties>
        <SAMPLE_APP.SQLConnection>
            <setting name="DBCreated" serializeAs="String">
                <value>False</value>
            </setting>
        </SAMPLE_APP.SQLConnection>
    </userSettings>
</configuration>